/* Basic styling, customize further as needed */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    height: 100%;
}

header {
    background-image: url('low-poly-grid-haikei.svg');
    background-size: cover;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0%;
}

.heart {
    color: red;
}

h1 {
    font-size: 300%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    overflow-y: auto;
    margin-top: 12%;
    margin-bottom: 50px;
}

.nav-mobile {
    display: none;
  }
  
  .mobile-menu-icon {
    display: none;
  }

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-left: 0;
    border-radius: 20px;
}

.header_title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 300%;
    display: flex;
    flex-direction: row;
}

.hero-content {
  text-align: center;
}

.image{
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

nav {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: url('low-poly-grid-haikei.svg');
    background-size: cover;
    color: #fff;
    padding: 5px 0;
}

@media (max-width: 767px) {
    main {
        margin-top: 50%;
    }

    header {
        width: 100%;
    }

    h1 {
        font-size: 200%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    h2 {
        font-size: 100%;
    }
    
    h3 {
        font-size: 50%;
    }

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 0;
}

#logo {
    width: 10%;
}

.header_title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav li {
    margin: 10px 0;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 5px 0;
}

.nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }

  .mobile-menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
  }

  .nav-mobile-links {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
  }

  .nav-mobile-links.active {
    display: block;
  }

  .nav-mobile-links ul {
    list-style: none;
    padding: 0;
  }

  .nav-mobile-links li {
    margin-bottom: 5px;
  }

  .nav-mobile-links a {
    color: white;
    text-decoration: none;
  }
}